.w-xxxxs { width: calc(0.25 * #{$width-unit}); }
.w-xxxs  { width: calc(0.5 * #{$width-unit}); }
.w-xxs   { width: calc(0.75 * #{$width-unit}); }
.w-xs    { width: calc(1 * #{$width-unit}); }
.w-sm    { width: calc(1.5 * #{$width-unit}); }
.w-md    { width: calc(2 * #{$width-unit}); }
.w-lg    { width: calc(3 * #{$width-unit}); }
.w-xl    { width: calc(4 * #{$width-unit}); }
.w-xxl   { width: calc(6 * #{$width-unit}); }
.w-xxxl  { width: calc(8 * #{$width-unit}); }
.w-xxxxl { width: calc(16 * #{$width-unit}); }
.w-auto  { width: auto; }
.w-fitcontent  { width: fit-content; }
.w-10    { width: 10%; }
.w-20    { width: 20%; }
.w-30    { width: 30%; }
.w-40    { width: 40%; }
.w-50    { width: 50%; }
.w-60    { width: 60%; }
.w-70    { width: 70%; }
.w-80    { width: 80%; }
.w-90    { width: 90%; }
.w-100   { width: 100%; }
.w-25    { width: 25%; }
.w-33    { width: calc(100% / 3); }
.w-66    { width: calc(100% / 1.5); }
.w-75    { width: 75%; }